.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  /* background-image: linear-gradient(to bottom right, #d77e36, #d73646); */
  background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.137), rgba(128, 128, 128, 0.137), rgba(255, 255, 255)); 
}
h1,h2,span{
  color: #d75636;
  font-weight: 600;
}
p,li{
 /* transition: transform 0.1s; */
}
p:hover,li:hover{
  transform: scale(1.2);
  margin: 0.4rem;
}
.searchbox-input{
  border: 2px solid #d75636;
  border-radius: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.searchbox-input:hover{
  background-color: rgba(106, 207, 187, 0.075);
}
.phone-display{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}
.each-phone{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  /* box-shadow: 8px 7px 15px #888888; */
  height: 20rem;
  background-color: white;
  /* background-color: #d7563631; */
  transition: transform .2s; 
  border-radius: 1rem;
}
.each-phone:hover{
  transform: scale(1.1);
}
.individual-image{
  object-fit: contain;
  width: 35%;
}
.learn-more-btn{
  border-radius: 1rem;
  /* background-color: #d75636; */
  background-image: linear-gradient(to bottom right, #d77e36, #d73646);
  color: white;
  font-size: 1.2rem;
  border: transparent;
  font-weight: 600;
  box-shadow: 5px 5px 15px #888888;
  padding: 0.3rem 1rem;
  margin: 1rem 0.5rem 0.5rem;
  transition: transform .2s; 
}

.learn-more-btn:hover{
  transform: scale(1.2);
  margin: 0.4rem;
}
.flex-display{
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-name-modal{
  text-align: center;
}
.modal{
  background-color: #d7563631;

}
.modal-image{
  width: 15rem;
  margin: 1rem;
  object-fit: contain;
}
.width-fifty{
  width: 50%;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}